<body>

<form class="form-signin" action="index" >
  <div class="text-center mb-4">
    <!--        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
    <h1 class="h3 mb-3 font-weight-normal">{{title}} ShareX Uploader</h1>
    <p>Open Source ShareX-Uploader specially for ShareX Application</p>
  </div>

  <app-input-placeholder placeholder="Email address" id="inputEmail" type="email"></app-input-placeholder>
  <app-input-placeholder placeholder="Password" id="inputPassword" type="password"></app-input-placeholder>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>


</form>
</body>
