<div class="body">

  <form class="form-signin" [formGroup]="myForm" novalidate (ngSubmit)="login()">
    <div class="text-center mb-4">
      <!--        <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
      <h1 class="h3 mb-3 font-weight-normal">{{title}} ShareX Uploader</h1>
      <p>Open Source ShareX-Uploader specially for ShareX Application</p>
    </div>
    <div class="alert alert-danger"
         *ngIf="myForm.hasError('custom-error')">
      Пользователя не существует
    </div>
    <app-input-placeholder formControlName="login" name="login" placeholder="Login" id="inputLogin"
                           type="text"></app-input-placeholder>
    <div class="alert alert-danger"
         *ngIf="myForm.controls['login'].hasError('login')">
      Некорректный логин
    </div>
    <app-input-placeholder formControlName="password" name="password" placeholder="Password" id="inputPassword"
                           type="password"></app-input-placeholder>
    <div class="alert alert-danger"
         *ngIf="myForm.controls['password'].hasError('password')">
      Проблемы с паролем...
    </div>

    <button [disabled]="!myForm.valid" class="btn btn-lg btn-primary btn-block">Sign in</button>


  </form>

</div>
