<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Images</h1>
</div>

<div class="row">
  <div class="offset-md-2 col-md-8">
    <nav aria-label="Page navigation example">

      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-2">
                    <span class="navbar-text">
                        Всего: 5000
                    </span>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> Count Load</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> Date Upload</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> Last active</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> MIME-Type</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> Size</th>
      <th scope="col">Buttons</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of images | async">
      <td>{{row.ID}}</td>
      <td>count</td>
      <td>{{unixToString(row.CreatedUnix)}}</td>
      <td>{{unixToString(row.LastActionUnix)}}</td>
      <td>{{row.MIMEType}}</td>
      <td>{{getSize(row.Size)}}</td>
      <td class="">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="openImage(row)" class="btn btn-table btn-primary" type="submit"><span
            data-feather="image"></span> Open
          </button>
          <button class="btn btn-table btn-secondary" (click)="copy(row)" type="submit"><span
            data-feather="copy"></span> Copy
          </button>

          <a (click)="deleteImage(row)" class="btn btn-table btn-danger" role="button"><span
            data-feather="trash"></span> Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="offset-md-2 col-md-8">
    <nav aria-label="Page navigation example">

      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
