<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Links</h1>
</div>

<div class="">
  <form [formGroup]="formNewLink" novalidate (ngSubmit)="createLink()">
    <div class="row" *ngIf="auth.IsAdmin()">
      <div class="col-md-8">
        <app-input-placeholder formControlName="ToSite" type="url" placeholder="URL"></app-input-placeholder>
      </div>
      <div class="col-md-2">
        <app-input-placeholder formControlName="CustomName" type="text"
                               placeholder="Custom Name"></app-input-placeholder>
      </div>
      <div class="col-md-2">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
      </div>
    </div>
    <div class="row" *ngIf="!auth.IsAdmin()">
      <div class="col-md-10">
        <app-input-placeholder formControlName="ToSite" type="url" placeholder="URL"></app-input-placeholder>
      </div>
      <div class="col-md-2">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="offset-md-2 col-md-8">
    <ngb-pagination class="d-flex justify-content-center" *ngIf="pagination.elems != undefined"
                    [rotate]="true" [ellipses]="false"
                    [(page)]="pagination.page"
                    [pageSize]="pagination.elems.ItemPerPage"
                    [collectionSize]="pagination.elems.CountElement"
                    (pageChange)="pageChange(pagination.page)" ></ngb-pagination>
  </div>
</div>


<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Link</th>
      <th scope="col">To Site</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> Date Created</th>
      <th scope="col"><i class="fa fa-fw fa-sort"></i> Last active</th>
      <th scope="col">Buttons</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let link of links | async">
      <td>{{link.ID}}</td>
      <td *ngIf="link.CustomName">{{link.CustomName}}</td>
      <td *ngIf="!link.CustomName">{{link.Name}}</td>
      <td><a href="{{link.ToSite}}" target="_blank">{{link.ToSite}}</a></td>
      <td>{{unixToString(link.CreatedUnix)}}</td>
      <td>{{unixToString(link.LastActionUnix)}}</td>
      <td class="btns">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-table btn-secondary" (click)="copy(link)" type="submit"><span
            data-feather="copy"></span> Copy
          </button>
          <a (click)="deleteLink(link)" class="btn btn-table btn-danger" role="button"><span
            data-feather="trash"></span> Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="offset-md-2 col-md-8">
    <ngb-pagination class="d-flex justify-content-center" *ngIf="pagination.elems != undefined"
                    [rotate]="true" [ellipses]="false"
                    [(page)]="pagination.page"
                    [pageSize]="pagination.elems.ItemPerPage"
                    [collectionSize]="pagination.elems.CountElement"
                    (pageChange)="pageChange(pagination.page)" ></ngb-pagination>
  </div>
</div>
