<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Info</h1>
</div>
<div class="mb-3">
  Здесь что-то удобное и красиво для отображения куда и что надо загружать
</div>
<h2>Токены</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Token</th>
      <th scope="col">Last active</th>
      <th scope="col">Type</th>
      <th scope="col">Buttons</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let token of tokens | async">
      <td>{{token.ID}}</td>
      <td>{{token.Name}}</td>
      <td id="token_{{token.ID}}">{{token.Token}}</td>
      <td>{{unixToString(token.LastActionUnix)}}</td>
      <td>{{token.Type}}</td>
      <td class="btns">
        <div class="btn-group" (click)="copy(token)" role="group" aria-label="Basic example">
          <button class="btn btn-table btn-secondary" type="submit"><span
            data-feather="copy"></span> Copy
          </button>

          <a *ngIf="!token.IsActive" class="btn btn-table btn-success" (click)="setActive(token)" role="button"><span
            data-feather="toggle-left"></span> Enable</a>
          <a *ngIf="token.IsActive" class="btn btn-table btn-warning" (click)="setActive(token)" role="button"><span
            data-feather="toggle-right"></span> Disable</a>
          <a (click)="deleteToken(token)" class="btn btn-table btn-danger" role="button"><span
            data-feather="trash"></span> Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="">
  <form [formGroup]="myForm" novalidate (ngSubmit)="createToken()">
    <div class="row">
      <div class="col-md-8">
        <app-input-placeholder formControlName="name" type="text" placeholder="Token name" id="inputToken"></app-input-placeholder>
      </div>
      <div class="col-md-2">
        <app-select-placeholder formControlName="type" placeholder="Token Type" id="typeToken" [selectOptions]="selectOptions"></app-select-placeholder>
      </div>
      <div class="col-md-2">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Generate</button>
      </div>
    </div>
  </form>
</div>
